.v-application {
  button.bg-color {
    background-color: #317DFF !important;
  }

  .v-application--wrap header.app-header {
    background-color: #DFDFE0 !important;
    border-color: #DFDFE0 !important;
  }
  
  .video-icon {
    position: absolute;
    left: 0px;
  }
  
  .post-card-gallery .v-carousel__controls .v-btn.v-btn--icon {
    height: 22px;
    width: 22px;
    margin: 0 3px;  
  }

  .app-search-form {
    margin: 0px 10px;
    .v-text-field>.v-input__control>.v-input__slot:before {
      border-color: transparent !important;
    }
    .v-text-field{
      .v-text-field__slot{
        // margin-left: 40px;
        // margin-right: 50px;
      }
      &>.v-input__control>.v-input__slot:after {
        border-color: transparent !important;
        background-color: transparent !important;
      }
    }

    .v-text-field {
      padding-top: 12px;
      margin-top: 4px;
      padding-bottom: 12px;
    }
  }
  .mobile-menu {
    padding: 50px 0;
    .v-navigation-drawer__content {
      button.v-btn {
        width: 100%;
      }
    }
  }
}


